.Rproj.user/
.Rhistory
*.pdf
*proporties.html
*toets.html
*ANOVA.html
*template.html
*exact.html
*cohen.d--.html
*continu.html
*.md
*.Rdata
*R.html
XX. Hulpmiddelen/functie bekijk_voortgang.R
_site
*1.png
*py.html

