.Rproj.user/
.Rhistory
.RData
*.pdf
#*template.html
*.md
*.Rdata
*_R_cache/
_site
#*R.html
#*py.html
#*SHHO.html
#*Python.html
!toetsmatrix_footer.html
!toetsmatrix_header.html
!toetsmatrix_II_footer.html
!toetsmatrix_II_header.html
!*analytics.html
!*favicon.html
!*footer.html
!*nocache.html
!google633b5604f5492782.html
